.App {
  font-family: sans-serif;
  text-align: center;
}

.time {
  margin: 20px;
}

.time-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.time-entry input {
  margin: 0 5px;
}


.time-entry button {
  margin-left: 10px;
}
